absl-py==2.4.0
astunparse==1.6.3
audioread==3.1.0
basic-pitch==0.4.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
decorator==5.2.1
flatbuffers==25.12.19
fpdf==1.7.2
gast==0.7.0
google-auth==2.49.2
google-auth-oauthlib==1.3.1
google-pasta==0.2.0
grpcio==1.80.0
h5py==3.16.0
idna==3.13
importlib_resources==7.1.0
joblib==1.5.3
keras==2.15.0
lazy-loader==0.5
libclang==18.1.1
librosa==0.11.0
llvmlite==0.47.0
Markdown==3.10.2
MarkupSafe==3.0.3
MIDIUtil==1.2.1
mido==1.3.3
mir_eval==0.8.2
ml-dtypes==0.2.0
msgpack==1.1.2
numba==0.65.1
numpy==1.26.4
oauthlib==3.3.1
opt_einsum==3.4.0
packaging==26.2
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
pretty_midi==0.2.11
protobuf==4.25.9
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyguitarpro==0.10.2
PyMuPDF==1.27.2.3
pyparsing==3.3.2
pypdfium2==5.7.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
requests==2.33.1
requests-oauthlib==2.0.0
resampy==0.4.2
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sounddevice==0.5.5
soundfile==0.13.1
soxr==1.0.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.8
wrapt==1.14.2
